<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                  <div class="card-header card-header-text card-header-warning">
                    <div class="card-text">
                      <h4 class="card-title">Reset User Password</h4>
                    </div>
                  </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Username</label>
                                    <input type="text" class="form-control" [(ngModel)]="usernameToReset" name="usernameToReset">
                                </div>
                            </div>
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-rose pull-right" (click)="onResetUserPasswordClick()">Reset</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-text card-header-warning">
                        <div class="card-text">
                            <h4 class="card-title">Test Connection To Bot SV</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <span>
                                    {{testConnectionResult}}
                                </span>
                            </div>
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-rose pull-right" (click)="ontestConnection()">Ping</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card">
                  <div class="card-header card-header-tabs card-header-rose">
                    <div class="nav-tabs-navigation">
                      <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">Thay Đổi Giá Dịch Vụ:</span>
                        <ul class="nav nav-tabs" data-tabs="tabs">
                          <li class="nav-item">
                            <a class="nav-link active" href="#profile" data-toggle="tab">
                              <i class="material-icons">favorite</i> Auto Tym
                              <div class="ripple-container"></div>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#messages" data-toggle="tab">
                              <i class="material-icons">thumb_up</i> BUFF LIKE
                              <div class="ripple-container"></div>
                            </a>
                          </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#comment" data-toggle="tab">
                                    <i class="material-icons">comment</i> COMMENT
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h5>CÁCH TÍNH GIÁ:</h5>
                                        <h6>Giá Cuối = (Base Price)*(Thời Hạn) - (Discount)*(Base Price)*(Thời Hạn)</h6>
                                        <h4>VÍ DỤ:</h4>
                                        <h4>Giá Gói 3 Tháng = 3*{{autoTymPriceBasePrice}} - 3*{{autoTymPriceThreeMonthDiscount}}*{{autoTymPriceBasePrice}}</h4>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Base Price (Giá Gói Thấp Nhất - 1 Tháng)</label>
                                                    <input type="number" class="form-control" [(ngModel)]="autoTymPriceBasePrice" name="autoTymPriceBasePrice">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Khuyến Mãi Gói 1 Tháng</label>
                                                    <input type="number" class="form-control" [(ngModel)]="autoTymPriceOneMonthDiscount" name="autoTymPriceOneMonthDiscount">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Khuyến Mãi Gói 3 Tháng</label>
                                                    <input type="number" class="form-control" [(ngModel)]="autoTymPriceThreeMonthDiscount" name="autoTymPriceThreeMonthDiscount">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Khuyến Mãi Gói 6 Tháng</label>
                                                    <input type="number" class="form-control" [(ngModel)]="autoTymPriceSixMonthDiscount" name="autoTymPriceSixMonthDiscount">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button mat-raised-button type="submit" class="btn btn-rose pull-right" (click)="updateAutoTymPrice()">Cập Nhật</button>
                            </div>
                            <div class="tab-pane" id="messages">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h5>CÁCH TÍNH GIÁ:</h5>
                                        <h6>Giá Cuối = (Số Like)*(Base Price)*(Thời Hạn) - ((Discount Tháng)+(Discount Like))*(Base Price)*(Số Like)*(Thời Hạn)</h6>
                                        <h4>VÍ DỤ:</h4>
                                        <h4> Giá 300 Like/3 Tháng = 300*{{buffLikePriceBasePrice}}*3 - ({{buffLikePriceThreeMonthDiscount}}+{{buffLikePrice300LikeDiscount}})*300*3</h4>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Base Price (Giá 1 Like/1 Tháng)</label>
                                                    <input type="number" class="form-control" [(ngModel)]="buffLikePriceBasePrice" name="buffLikePriceBasePrice">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Khuyến Mãi Gói 1 Tháng</label>
                                                    <input type="number" class="form-control" [(ngModel)]="buffLikePriceOneMonthDiscount" name="buffLikePriceOneMonthDiscount">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Khuyến Mãi Gói 3 Tháng</label>
                                                    <input type="number" class="form-control" [(ngModel)]="buffLikePriceThreeMonthDiscount" name="buffLikePriceThreeMonthDiscount">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Khuyến Mãi Gói 6 Tháng</label>
                                                    <input type="number" class="form-control" [(ngModel)]="buffLikePriceSixMonthDiscount" name="buffLikePriceSixMonthDiscount">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Khuyến Mãi Gói 50 Like</label>
                                                    <input type="number" class="form-control" [(ngModel)]="buffLikePrice50LikeDiscount" name="buffLikePrice50LikeDiscount">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Khuyến Mãi Gói 100 Like</label>
                                                    <input type="number" class="form-control" [(ngModel)]="buffLikePrice100LikeDiscount" name="buffLikePrice100LikeDiscount">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Khuyến Mãi Gói 100 Like</label>
                                                    <input type="number" class="form-control" [(ngModel)]="buffLikePrice200LikeDiscount" name="buffLikePrice100LikeDiscount">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Khuyến Mãi Gói 300 Like</label>
                                                    <input type="number" class="form-control" [(ngModel)]="buffLikePrice300LikeDiscount" name="buffLikePrice300LikeDiscount">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Khuyến Mãi Gói 600 Like</label>
                                                    <input type="number" class="form-control" [(ngModel)]="buffLikePrice600LikeDiscount" name="buffLikePrice600LikeDiscount">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Khuyến Mãi Gói 1200 Like</label>
                                                    <input type="number" class="form-control" [(ngModel)]="buffLikePrice1200LikeDiscount" name="buffLikePrice1200LikeDiscount">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button mat-raised-button type="submit" class="btn btn-rose pull-right" (click)="updateBuffLikePrice()">Cập Nhật</button>
                            </div>

                            <div class="tab-pane" id="comment">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h5>CÁCH TÍNH GIÁ:</h5>
                                        <h6>Giá Cuối = (Số Like)*(Base Price)*(Thời Hạn) - ((Discount Tháng)+(Discount Cmt))*(Base Price)*(Số Cmt)*(Thời Hạn)</h6>
                                        <h4>VÍ DỤ:</h4>
                                        <h4> Giá 30 Cmt/3 Tháng = 30*{{commentbasePrice}}*3 - ({{commentthreeMonthDiscount}}+{{commentthirtyCmtDiscount}})*30*3</h4>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Base Price (Giá 1 CMT/1 Tháng)</label>
                                                    <input type="number" class="form-control" [(ngModel)]="commentbasePrice" name="commentbasePrice">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Khuyến Mãi Gói 1 Tháng</label>
                                                    <input type="number" class="form-control" [(ngModel)]="commentoneMonthDiscount" name="commentoneMonthDiscount">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Khuyến Mãi Gói 3 Tháng</label>
                                                    <input type="number" class="form-control" [(ngModel)]="commentthreeMonthDiscount" name="commentthreeMonthDiscount">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Khuyến Mãi Gói 6 Tháng</label>
                                                    <input type="number" class="form-control" [(ngModel)]="commentsixMonthDiscount" name="commentsixMonthDiscount">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Khuyến Mãi Gói 10 CMTs</label>
                                                    <input type="number" class="form-control" [(ngModel)]="commenttenCmtDiscount" name="commenttenCmtDiscount">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Khuyến Mãi Gói 20 CMTs</label>
                                                    <input type="number" class="form-control" [(ngModel)]="commenttwentyCmtDiscount" name="commenttwentyCmtDiscount">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Khuyến Mãi Gói 30 CMTs</label>
                                                    <input type="number" class="form-control" [(ngModel)]="commentthirtyCmtDiscount" name="commentthirtyCmtDiscount">
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <button mat-raised-button type="submit" class="btn btn-rose pull-right" (click)="updateCommentServPrice()">Cập Nhật</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
