

        <div class="logo">
          <a class="simple-text logo-mini">
            <div class="logo-img">
                <img src="/assets/img/dog_white.png"/>
            </div>
          </a>
            <a target="_blank" href="#" class="simple-text logo-normal">
              Bao Thai FNC
            </a>
        </div>


        <div class="sidebar-wrapper">

            <div class="user">
                <div class="user-info">
                    <a data-toggle="collapse" class="collapsed">
                        <span>
                <i *ngIf="accountLevel == 1" class="material-icons">filter_1</i>
<i *ngIf="accountLevel == 2" class="material-icons">filter_2</i>
<i *ngIf="accountLevel == 3" class="material-icons">filter_3</i>
<i *ngIf="accountLevel == 4" class="material-icons">filter_4</i>
<i *ngIf="accountLevel == 5" class="material-icons">filter_5</i>
<i *ngIf="accountLevel == 6" class="material-icons">filter_6</i>
<i *ngIf="accountLevel == 7" class="material-icons">filter_7</i>
<i *ngIf="accountLevel == 8" class="material-icons">filter_8</i>
<i *ngIf="accountLevel == 9" class="material-icons">filter_9</i>
<i *ngIf="accountLevel > 9" class="material-icons">filter_9_plus</i>
                            {{username}}
                        </span>
                    </a>

                </div>
            </div>
            <div class="user">
                <div class="user-info">
                    <a class="account-amount">
                        <span>
                <i class="material-icons">attach_money</i> {{money}} VND
                        </span>
                    </a>
                </div>
            </div>
            <ul class="nav">
                <li routerLinkActive="active" *ngFor="let menuitem of menuItems" class="nav-item">
                    <!--If is a single link-->
                    <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link' && accountLevel >= menuitem.level" class="nav-link">
                        <i class="material-icons">{{menuitem.icontype}}</i>
                        <p>{{menuitem.title}} {{userLevel}}</p>
                    </a>
                    <!--If it have a submenu-->
                    <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub' && accountLevel >= menuitem.level" (click)="updatePS()" class="nav-link">
                        <i class="material-icons">{{menuitem.icontype}}</i>
                        <p>{{menuitem.title}}<b class="caret"></b></p>
                    </a>

                    <!--Display the submenu items-->
                    <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub' && accountLevel >= menuitem.level">
                        <ul class="nav">
                            <li routerLinkActive="active" *ngFor="let childitem of menuitem.children" class="nav-item">
                                <a *ngIf="childitem.ab=='undone' && accountLevel >= childitem.level" (click)="showSwal('undone')" class="nav-link">
                                    <span class="sidebar-normal">{{childitem.title}}</span>
                                </a>
                                <a *ngIf="childitem.ab=='done'  && accountLevel >= childitem.level" [routerLink]="[menuitem.path, childitem.path]" class="nav-link">
                                    <span class="sidebar-normal">{{childitem.title}}</span>
                                </a>
                                <a *ngIf="childitem.ab=='maintenance'  && accountLevel >= childitem.level" (click)="showSwal('maintenance')" class="nav-link">
                                    <span class="sidebar-normal">{{childitem.title}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a (click)="onLogoutClick()" class="nav-link">
                        <i class="material-icons">power_off</i>
                        <p>Sign Out</p>
                    </a>
                </li>
            </ul>
        </div>
