<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">perm_identity</i>
            </div>
            <h4 class="card-title">Edit Profile -
              <small class="category">Complete your profile</small>
            </h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="bmd-label-floating">Name (disabled)</label>
                    <input type="text" class="form-control" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Phone (disabled)</label>
                    <input type="text" class="form-control" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email (disabled)</label>
                    <input type="text" class="form-control" disabled>
                  </div>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-rose pull-right" disabled>Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">fingerprint</i>
            </div>
            <h4 class="card-title">Thay Đổi Mật Khẩu
            </h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Mật Khẩu Cũ</label>
                  <input type="text" class="form-control" [(ngModel)]="oldPassword" name="oldPassword">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Mật Khẩu Mới</label>
                  <input type="password" class="form-control" [(ngModel)]="newPassword" name="newPassword">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Nhập Lại Mật Khẩu Mới</label>
                  <input type="password" class="form-control" [(ngModel)]="reNewPassword" name="reNewPassword">
                </div>
              </div>
            </div>
            <button mat-raised-button type="submit" class="btn btn-rose pull-right" (click)="confirmChangePassword()">Xác Nhận</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
