<div class="main-content">
    <div class="container-fluid">
        <div *ngIf="!editMode && registerNewMode" class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Đăng Ký Mới</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <form method="get" action="/" class="form-horizontal">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Thời Hạn</label>
                                        <div class="col col-sm-offset-1 checkbox-radios" (change)="onSelectChange()">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="duration" [(ngModel)]="duration" value="oneMonth" checked> 1 Tháng (Giảm {{oneMonthDiscount*100}}%)
                                                    <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="duration" [(ngModel)]="duration" value="threeMonth"> 3 Tháng (Giảm {{threeMonthDiscount*100}}%)
                                                    <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col checkbox-radios">
                                            <div class="form-check disabled">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="duration2" [(ngModel)]="duration" value="sixMonth" disabled> 6 Tháng (Giảm {{sixMonthDiscount*100}}%)
                                                    <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <label class="col-sm-8 col-form-label">Số Lượng Like:</label>
                                                <div class="col-sm-3">
                                                    <mat-form-field class="example-full-width has-success">
                                                        <input matInput type="number" (change)="onSelectChange()" [(ngModel)]="likeNum" name="likeNum">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-8 col-form-label text-rose mat-body-strong">Số Bài Tối Đa 1 Ngày:</label>
                                                <div class="col-sm-3 mat-body-strong">
                                                    <mat-form-field class="example-full-width has-success">
                                                        <input matInput type="number" [(ngModel)]="maxPerDay" name="maxPerDay" (change)="onSelectChange()">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 mat-body-strong">
                                            <label class="text-rose mat-body-strong">*Giảm Giá:</label>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="text-warning">50-99 Like: {{(fiftyLikeDiscount*100).toFixed(2)}}% </div>
                                                    <div class="text-success">200-299 Like: {{(twoHundredLikeDiscount*100).toFixed(2)}}% </div>
                                                    <div class="text-success">600-1199 Like: {{(sixHundredLikeDiscount*100).toFixed(2)}}% </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="text-warning">100-199 Like: {{(oneHundredLikeDiscount*100).toFixed(2)}}% </div>
                                                    <div class="text-success">300-599 Like: {{(threeHundredLikeDiscount*100).toFixed(2)}}% </div>
                                                    <div class="text-danger">1200++ Like: {{(oneThousandTwoHundredLikeDiscount*100).toFixed(2)}}% </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col">
                                    <div class="col-sm-6">
                                        <div class="card text-white bg-success">
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-sm-5 col-form-label ">
                                                    <h6 >Tổng Cộng:</h6>
                                                    <h6 >Discount:</h6>
                                                    <h5>Thành Tiền:</h5>
                                                </div>
                                                <div class="col-sm-5 col-form-label ">
                                                    <h6 >{{totalPrice}}</h6>
                                                    <h6 >{{(totalDiscountNum*100).toFixed(2)}}%</h6>
                                                    <h5 >{{finalPrice}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label text-success"> </label>
                                <div class="col-sm-10 col-sm-offset-1">
                                    <span class="text-danger">*Số Bài Tối Đa 1 Ngày: những bài viết vượt quá sẽ không được buff.</span>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Profile Link:</label>
                                <div class="col-sm-10">
                                    <mat-form-field class="example-full-width has-success">
                                        <input matInput type="text" placeholder="Paste Profile Link Vô Đây" [(ngModel)]="profileLink" name="profileLink">
                                        <span class="form-control-feedback">
                                            <i class="material-icons">done</i>
                                        </span>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label text-success">Buff Like Trong Vòng:</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <mat-form-field class="example-full-width has-success">
                                                <input matInput type="text" [(ngModel)]="buffDuration" name="buffDuration">
                                            </mat-form-field>
                                        </div>

                                        <div>
                                            <label class="text-success col-form-label text-right">(Giờ) || Ưu Tiên Like Trong Khoảng(Giờ):</label>
                                        </div>

                                        <div class="col-sm-3">
                                            <mat-form-field>
                                                <mat-select multiple placeholder="Giờ Ưu Tiên" [(ngModel)]="rushHour" name="rushHour">
                                                    <mat-option *ngFor="let hour of rushHourList" [value]="hour">
                                                        {{ hour }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <div class="row">
                                            <div class="col-sm-12 col-sm-offset-1">
                                                <span class="text-danger">*Like sẽ được buff đều trong thời gian mong muốn tính từ lúc bài viết được public</span>
                                            </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <label class="col-sm-2 col-form-label">Tỉ Lệ Tương Tác</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <img src="/assets/img/likelike.png" width="30" height="30"/>
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="text" placeholder="Like" [(ngModel)]="likeRate" name="likeRate">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-1">
                                            <img src="/assets/img/likelove.png" width="30" height="30"/>
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="text" placeholder="Love" [(ngModel)]="loveRate" name="loveRate">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-1">
                                            <img src="/assets/img/likehaha.png" width="30" height="30"/>
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="text" placeholder="Haha" [(ngModel)]="hahaRate" name="hahaRate">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-1">
                                            <img src="/assets/img/likewow.png" width="30" height="30"/>
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="text" placeholder="Wow" [(ngModel)]="wowRate" name="wowRate">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-1">
                                            <img src="/assets/img/likesad.png" width="30" height="30"/>
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="text" placeholder="Sad" [(ngModel)]="sadRate" name="sadRate">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-1">
                                            <img src="/assets/img/likeangry.png" width="30" height="30"/>
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="text" placeholder="Angry" [(ngModel)]="angryRate" name="angryRate">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="card-footer text-right">
                                            <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="onAddNewClick()">Thêm Mới</button>
                                        </div>
                                        <div class="card-footer text-right">
                                            <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="cancelButton()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="editMode" class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Cập Nhật Thông Tin</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <form method="get" action="/" class="form-horizontal">
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Profile Link</label>
                                <div class="col-sm-10">
                                    <mat-form-field class="example-full-width has-success">
                                        <input matInput type="text" placeholder="Paste Profile Link Vô Đây" [(ngModel)]="profileLink" name="profileLink">
                                        <span class="form-control-feedback">
                                            <i class="material-icons">done</i>
                                        </span>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label text-success">Số Lượng Like:</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <mat-form-field class="example-full-width has-success">
                                                <input matInput type="text" [(ngModel)]="editLikeNum" name="editLikeNum" (change)="onEditLikeNumeChange()">
                                            </mat-form-field>
                                        </div>

                                        <div>
                                            <label class="text-warning col-form-label text-right">*Bạn Có Thể Điều Chỉnh Không Vượt Quá {{maxLikeNum}} Like, Muốn Nhiều Hơn Vui Lòng Mua Thêm!</label>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label text-success">Buff Like Trong Vòng:</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <mat-form-field class="example-full-width has-success">
                                                <input matInput type="text" [(ngModel)]="buffDuration" name="buffDuration">
                                            </mat-form-field>
                                        </div>

                                        <div>
                                            <label class="text-success col-form-label text-right">(Giờ) || Ưu Tiên Like Trong Khoảng(Giờ):</label>
                                        </div>

                                        <div class="col-sm-3">
                                            <mat-form-field>
                                                <mat-select multiple placeholder="Giờ Ưu Tiên" [(ngModel)]="rushHour" name="rushHour">
                                                    <mat-option *ngFor="let hour of rushHourList" [value]="hour">
                                                        {{ hour }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-sm-offset-1">
                                            <span class="text-danger">*Like sẽ được buff đều trong thời gian mong muốn tính từ lúc bài viết được public</span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <label class="col-sm-2 col-form-label">Tỉ Lệ Tương Tác</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <img src="/assets/img/likelike.png" width="30" height="30"/>
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="text" placeholder="Like" [(ngModel)]="likeRate" name="likeRate">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-1">
                                            <img src="/assets/img/likelove.png" width="30" height="30"/>
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="text" placeholder="Love" [(ngModel)]="loveRate" name="loveRate">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-1">
                                            <img src="/assets/img/likehaha.png" width="30" height="30"/>
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="text" placeholder="Haha" [(ngModel)]="hahaRate" name="hahaRate">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-1">
                                            <img src="/assets/img/likewow.png" width="30" height="30"/>
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="text" placeholder="Wow" [(ngModel)]="wowRate" name="wowRate">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-1">
                                            <img src="/assets/img/likesad.png" width="30" height="30"/>
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="text" placeholder="Sad" [(ngModel)]="sadRate" name="sadRate">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-1">
                                            <img src="/assets/img/likeangry.png" width="30" height="30"/>
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="text" placeholder="Angry" [(ngModel)]="angryRate" name="angryRate">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="card-footer text-right">
                                            <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="doneButton()">Update</button>
                                        </div>
                                        <div class="card-footer text-right">
                                            <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="cancelButton()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="buyMoreMode" class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Bổ Sung Dịch Vụ</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <form method="get" action="/" class="form-horizontal">
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Profile Link:</label>
                                <div class="col-sm-10">
                                    <mat-form-field class="example-full-width has-success">
                                        <input matInput type="text" [(ngModel)]="profileLink" name="profileLink" disabled>
                                        <span class="form-control-feedback">
                                            <i class="material-icons">done</i>
                                        </span>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Gia Hạn</label>
                                        <div class="col col-sm-offset-1 checkbox-radios" (change)="onBuyMoreChange()">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="duration" [(ngModel)]="duration" value="oneMonth"> 1 Tháng (Giảm {{oneMonthDiscount*100}}%)
                                                    <span class="circle">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="duration" [(ngModel)]="duration" value="threeMonth"> 3 Tháng (Giảm {{threeMonthDiscount*100}}%)
                                                    <span class="circle">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col checkbox-radios" (change)="onBuyMoreChange()">
                                            <div class="form-check disabled">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="duration2" [(ngModel)]="duration" value="sixMonth" disabled> 6 Tháng (Giảm {{sixMonthDiscount*100}}%)
                                                    <span class="circle">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="form-check disabled">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="duration2" [(ngModel)]="duration" value="zero"> KHÔNG Gia Hạn
                                                    <span class="circle">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <label class="col-sm-8 col-form-label">Mua Thêm Like:</label>
                                                <div class="col-sm-3">
                                                    <mat-form-field class="example-full-width has-success">
                                                        <input matInput type="number" (change)="onSelectChange()" [(ngModel)]="buyMoreLike" name="buyMoreLike" (change)="onBuyMoreChange()">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-8 col-form-label text-rose mat-body-strong">Mua Thêm Bài Viết Tối Đa 1 Ngày:</label>
                                                <div class="col-sm-3 mat-body-strong">
                                                    <mat-form-field class="example-full-width has-success">
                                                        <input matInput type="number" [(ngModel)]="buyMorePost" name="buyMorePost" (change)="onBuyMoreChange()">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 mat-body-strong">
                                            <label class="text-rose mat-body-strong">*Giảm Giá(Tính Theo Tổng Cũ + Mua Thêm):</label>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="text-warning">50-99 Like: {{(fiftyLikeDiscount*100).toFixed(2)}}% </div>
                                                    <div class="text-success">200-299 Like: {{(twoHundredLikeDiscount*100).toFixed(2)}}% </div>
                                                    <div class="text-success">600-1199 Like: {{(sixHundredLikeDiscount*100).toFixed(2)}}% </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="text-warning">100-199 Like: {{(oneHundredLikeDiscount*100).toFixed(2)}}% </div>
                                                    <div class="text-success">300-599 Like: {{(threeHundredLikeDiscount*100).toFixed(2)}}% </div>
                                                    <div class="text-danger">1200++ Like: {{(oneThousandTwoHundredLikeDiscount*100).toFixed(2)}}% </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col">
                                    <div class="col-sm-6">
                                        <div class="card text-white bg-success">
                                            <div class="card-body ">
                                                <div class="row">
                                                    <div class="col-sm-5 col-form-label ">
                                                        <h6 >Tổng Cộng:</h6>
                                                        <h6 >Discount:</h6>
                                                        <h5>Thành Tiền:</h5>
                                                    </div>
                                                    <div class="col-sm-5 col-form-label ">
                                                        <h6 >{{totalPrice}}</h6>
                                                        <h6 >{{(totalDiscountNum*100).toFixed(2)}}%</h6>
                                                        <h5 >{{finalPrice}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label text-success"> </label>
                                <div class="col-sm-10 col-sm-offset-1">
                                    <span class="text-danger">*Số Lượng Mua Thêm Sẽ Được + Vào Số Lượng Cũ.</span>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label"> </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="card-footer text-right">
                                            <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="buyModeButton()">Mua Thêm</button>
                                        </div>
                                        <div class="card-footer text-right">
                                            <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="cancelButton()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">slow_motion_video</i>
                        </div>
                        <h4 class="card-title">Tài Khoản FaceBook Đã Thêm</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="addnewOnTableButton()">Thêm Profile Mới</button>
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            <div class="table-responsive">
                                <table  class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Profile ID</th>
                                        <th>Tỷ Lệ Tương Tác</th>
                                        <th>SL Like</th>
                                        <th>Bài Viết Tối Đa</th>
                                        <th>Giờ Tương Tác</th>
                                        <th>Số Ngày Còn Lại</th>
                                        <th class="disabled-sorting text-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let tableData of dataTable.dataRows">
                                        <td class="text-truncate">
                                            <span *ngIf="!tableData.editMode" matTooltip=" Có Thể Thay Đổi Bất Cứ Lúc Nào Bạn Muốn ">{{tableData.profileId}}</span>
                                        </td>
                                        <td class="text-truncate ">
                                            <span *ngIf="!tableData.editMode" matTooltip=" SKIP - LIKE - LOVE - HAHA - WOW - SAD - ANGRY ">{{tableData.reactionRate}}</span>
                                        </td>
                                        <td class="text-truncate">{{tableData.likeNum}}</td>
                                        <td class="text-truncate">{{tableData.maxPerDay}}</td>
                                        <td class="text-truncate">{{tableData.rushHour}}</td>
                                        <td class="text-truncate">{{tableData.expiredTime}}</td>
                                        <td class="text-right">
                                            <button mat-button type="button"  matTooltip="Gia Hạn - Thêm Like" [matTooltipPosition]="'left'" class="btn btn-link btn-success btn-just-icon edit" (click)="buyMoreTableButton(tableData)">
                                                <i class="material-icons">shopping_cart</i>
                                            </button>
                                            <button mat-button type="button"  matTooltip="Edit" [matTooltipPosition]="'left'" class="btn btn-link btn-warning btn-just-icon edit" (click)="editButton(tableData)">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button *ngIf="tableData.runningState" mat-button type="button"  matTooltip="Pause" [matTooltipPosition]="'left'" class="btn btn-link btn-warning btn-just-icon edit" (click)="pauseButton(tableData)">
                                                <i class="material-icons">pause</i>
                                            </button>
                                            <button *ngIf="!tableData.runningState" mat-button type="button"  matTooltip="Run" [matTooltipPosition]="'left'" class="btn btn-link btn-success btn-just-icon edit" (click)="playButton(tableData)">
                                                <i class="material-icons">play_arrow</i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
    </div>
</div>
