<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">

                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-text">
                                <h4 class="card-title">Số Ngày Sử Dụng: {{remainingDays}}</h4>
                        </div>
                        <button mat-raised-button class="btn btn-success btn-round">Gia Hạn</button>
                    </div>

                    <div class="card-body">
                        <div id="accordion" role="tablist">
                            <div class="card-collapse">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            Chi Tiết
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse hide" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                    <div class="card-body">
                                        <h5 class="text-danger">Hiện tại chúng tôi cung cấp gói tính năng chia sẻ bài viết(không link) với giá {{oneMonthPrice}}/30 ngày.</h5>
                                        <h6 class="text-warning">*Chỉ Gia Hạn 1 lần/30 ngày, chờ thay đổi trong tương lai gần.</h6>
                                        <h6>Gói Bao Gồm:</h6>
                                        <h6> - Chia sẻ Bài Viết Vào Nhóm.</h6>
                                        <h6 class="text-danger"> - Về Tường Cá Nhân theo độ tuổi-vùng miền.(do bot vẫn đang trong quá trình đánh giá và phân loại nên khuyến cáo bạn chưa nên sử dụng tính năng này).</h6>
                                        <h6> - Thống kê tương tác từng bài chia sẻ: Giúp bạn đánh giá hiệu quả bài chia sẻ.</h6>
                                        <h6> - Thống kê tương tác từng nhóm: Giúp bạn đánh giá hiệu quả nhóm.</h6>
                                        <h6 class="text-warning">*Hệ thống sẽ tự động loại bỏ các bài viết có link.
                                            Nếu chia sẻ bài viết có chứa ảnh/clip porn bạn sẽ bị chấm dứt tính năng vĩnh viễn không hoàn tiền.</h6>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="createNewShare" class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Share Bài Mới</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <form method="get" action="/" class="form-horizontal">

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Link Bài Cần Share:</label>
                                <div class="col-sm-10">
                                    <mat-form-field class="example-full-width has-success">
                                        <input matInput type="text" >
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Group Bundle:</label>
                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <mat-select placeholder="Chọn 1 Bundle Để Share" [(ngModel)]="currentBundle" name="currentBundle">
                                            <mat-option *ngFor="let bundle of groupBundleSelection" [value]="bundle._id">
                                                {{ bundle.bundleName }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div *ngIf="currentBundle==='botWall'" class="row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-8 col-sm-offset-1 checkbox-radios">
                                    <span class="text-warning">*Khuyến cáo hiện tại không nên sử dụng tính năng này do Bot đang trong quá trình phân loại bạn bè theo độ tuổi và vùng miền, tính năng sẽ được nâng cấp trong thời gian sớm nhất.</span>
                                </div>
                            </div>


                            <div class="row">
                                <label class="col-sm-2 col-form-label text-success">Thời Gian Share(Ngày):</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <mat-form-field class="example-full-width has-success">
                                                <input matInput type="text">
                                            </mat-form-field>
                                        </div>
                                        <div class="text-right">
                                            <label class="text-success col-form-label text-right">Share Trong Khoảng(Giờ):</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <mat-form-field class="example-full-width has-success">
                                                <input matInput type="text" placeholder="Ví Dụ: 9-11,18-20" >
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-8 col-sm-offset-1 checkbox-radios">
                                    <span class="text-warning">*Tính Năng Giúp Bạn Giàn Đều Số Chia Sẻ Buff Vào 1 Bài Viết Ra n Ngày, Và Đảm Bảo Ngày Nào Bài Của Bạn Cũng Được Share Vào Đúng Giờ Bạn Muốn</span>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-8 col-sm-offset-1 checkbox-radios">
                                    <span class="text-danger">*Thời Gian Share = 0 Và Share Trong Khoảng = 0 => Nếu Bạn Muốn Share Ngay Lập Tức</span>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-8 col-sm-offset-1 checkbox-radios">
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-8 col-sm-offset-1 checkbox-radios">
                                    <span class="text-warning">*Nếu Bạn Muốn Share n Bài Với Caption Giống Nhau Hãy Paste Dòng Caption Đó n Lần, Để Trống Nếu Bạn Không Muốn Có Caption!</span>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Caption:</label>
                                <div class="col-sm-10">
                                    <textarea class="col-sm-12" rows="10" autocomplete="off" placeholder="Dán Caption Vô Đây - Mỗi Caption 1 Dòng" [ngModel]="captionContent" name="captionContent"></textarea>
                                    <div class="row">
                                        <div class="card-footer text-right">
                                            <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" >Bắt Đầu Share</button>
                                        </div>
                                        <div class="card-footer text-right">
                                            <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="cancelCreateNewShareClicked()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-text">
                            <h4 class="card-title">Số Lượt Chia Sẻ Còn Lại: {{remainingShareNum}}</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <button mat-raised-button class="btn btn-success btn-round" (click)="buyMoreShareNum()">Mua Lượt Chia Sẻ</button>
                            <button mat-raised-button class="btn btn-rose btn-round" (click)="createNewShareClicked()">Share Bài Mới</button>
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            <table id="sharedPostTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Link Bài Viết</th>
                                    <th>Trạng Thái</th>
                                    <th>Số Lượt Chia Sẻ</th>
                                    <th>Tổng Likes</th>
                                    <th>Tổng Cmts</th>
                                    <th>Số Likes TB</th>
                                    <th>Số Comments TB</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Time</th>
                                    <th>Link Bài Viết</th>
                                    <th>Trạng Thái</th>
                                    <th>Số Lượt Chia Sẻ</th>
                                    <th>Tổng Likes</th>
                                    <th>Tổng Cmts</th>
                                    <th>Số Likes TB</th>
                                    <th>Số Comments TB</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr *ngFor="let row of sharedPostTable">
                                    <td>{{row.time}}</td>
                                    <td>
                                        <a>{{row.postLink}}</a>
                                        </td>
                                    <td>{{row.status}}</td>
                                    <td>{{row.shareNum}}</td>
                                    <td>{{row.totalLikes}}</td>
                                    <td>{{row.totalComments}}</td>
                                    <td>{{row.averageLikes}}</td>
                                    <td>{{row.averageComments}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>

        <div *ngIf="createNewGroupBundle || editGroupBundle" class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 *ngIf="createNewGroupBundle" class="card-title">Tạo Group Bundle Mới</h4>
                            <h4 *ngIf="editGroupBundle" class="card-title">Cập Nhật Group Bundle</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <form method="get" action="/" class="form-horizontal">

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Tên Bundle:</label>
                                <div class="col-sm-10">
                                    <mat-form-field class="example-full-width has-success">
                                        <input matInput type="text" >
                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-8 col-sm-offset-1 checkbox-radios">
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-8 col-sm-offset-1 checkbox-radios">
                                    <span class="text-warning">*Hệ Thống Sẽ Tự Động Xóa Những Group Quá Lâu Mà Bot Không Join Được Để Share Bài!</span>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Group IDs:</label>
                                <div class="col-sm-10">
                                    <textarea class="col-sm-12" rows="10" autocomplete="off" placeholder="Dán Group ID Vô Đây - Mỗi ID 1 Dòng" [ngModel]="currentGroupIdList" name="currentGroupIdList"></textarea>
                                    <div class="row">
                                        <div class="card-footer text-right">
                                            <button *ngIf="createNewGroupBundle" mat-raised-button type="submit" class="btn btn-rose" value="Submit" >Create</button>
                                            <button *ngIf="editGroupBundle" mat-raised-button type="submit" class="btn btn-rose" value="Submit" >Update</button>
                                        </div>
                                        <div class="card-footer text-right">
                                            <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="cancelCreateNewShareClicked()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card ">
                    <div class="card-body ">
                        <ul class="nav nav-pills nav-pills-warning" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                                    Groups
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                                    Shared Link
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">
                                    Group Bundles
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content tab-space">
                            <div class="tab-pane active" id="link1">
                                <div class="material-datatables">
                                    <table id="groupValuationTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>GID</th>
                                            <th>Group Name</th>
                                            <th>GroupType</th>
                                            <th>Group Bundle</th>
                                            <th>Shared</th>
                                            <th>Total Likes</th>
                                            <th>Total Cmts</th>
                                            <th>Likes/Share</th>
                                            <th>Cmts/Share</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>GID</th>
                                            <th>Group Name</th>
                                            <th>GroupType</th>
                                            <th>Group Bundle</th>
                                            <th>Shared</th>
                                            <th>Total Likes</th>
                                            <th>Total Cmts</th>
                                            <th>Likes/Share</th>
                                            <th>Cmts/Share</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        <tr *ngFor="let row of groupValuationTable">
                                            <td>{{row.groupId}}</td>
                                            <td>{{row.groupName}}</td>
                                            <td>{{row.groupType}}</td>
                                            <td>{{row.groupBundleName}}</td>
                                            <td>{{row.sharedTime}}</td>
                                            <td>{{row.totalLikes}}</td>
                                            <td>{{row.totalComments}}</td>
                                            <td>{{row.averageLikes}}</td>
                                            <td>{{row.averageComments}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="link2">
                                <div class="material-datatables">
                                    <table id="sharedLinkValuationTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>Time</th>
                                            <th>Link</th>
                                            <th>Bài Gốc</th>
                                            <th>Tệp Nhóm</th>
                                            <th>Số Likes</th>
                                            <th>Số Comments</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>Time</th>
                                            <th>Link</th>
                                            <th>Bài Gốc</th>
                                            <th>Tệp Nhóm</th>
                                            <th>Số Likes</th>
                                            <th>Số Comments</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        <tr *ngFor="let row of sharedLinkTable">
                                            <td>{{row.time}}</td>
                                            <td>{{row.link}}</td>
                                            <td>{{row.originLink}}</td>
                                            <td>{{row.groupBundleName}}</td>
                                            <td>{{row.likes}}</td>
                                            <td>{{row.comments}}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <div class="tab-pane" id="link3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="toolbar">
                                            <button mat-raised-button class="btn btn-rose btn-round" (click)="createNewGroupBundleClicked()">Tạo Bundle Mới</button>
                                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                                        </div>
                                        <div class="material-datatables">
                                            <table id="groupBundleTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                                <thead>
                                                <tr>
                                                    <th>Tên Tệp</th>
                                                    <th>Trạng Thái Join</th>
                                                    <th>Số Chia Sẻ</th>
                                                    <th>Tổng Likes</th>
                                                    <th>Tổng Cmts</th>
                                                    <th>Likes/Post</th>
                                                    <th>Cmts/Post</th>
                                                </tr>
                                                </thead>
                                                <tfoot>
                                                <tr>
                                                    <th>Tên Tệp</th>
                                                    <th>Trạng Thái Join</th>
                                                    <th>Số Chia Sẻ</th>
                                                    <th>Tổng Likes</th>
                                                    <th>Tổng Cmts</th>
                                                    <th>Likes/Post</th>
                                                    <th>Cmts/Post</th>
                                                </tr>
                                                </tfoot>
                                                <tbody>
                                                <tr *ngFor="let row of groupBundleTable">
                                                    <td>{{row.bundleName}}</td>
                                                    <td>{{row.joinStatus}}</td>
                                                    <td>{{row.sharedNum}}</td>
                                                    <td>{{row.totalLikes}}</td>
                                                    <td>{{row.totalComments}}</td>
                                                    <td>{{row.averageLikes}}</td>
                                                    <td>{{row.averageComments}}</td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
