<div class="main-content">
    <div class="container-fluid">

        <div *ngIf="buyMoreDurationMode" class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Gia Hạn</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <form method="get" action="/" class="form-horizontal">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Thời Hạn</label>
                                        <div class="col col-sm-offset-1 checkbox-radios" (change)="buyMoreDurationChange()">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="duration" [(ngModel)]="duration" value="oneMonth" checked> 1 Tháng (Giảm {{oneMonthDiscount*100}}%)
                                                    <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="duration" [(ngModel)]="duration" value="threeMonth"> 3 Tháng (Giảm {{threeMonthDiscount*100}}%)
                                                    <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col checkbox-radios">
                                            <div class="form-check disabled">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="duration2" [(ngModel)]="duration" value="sixMonth" disabled> 6 Tháng (Giảm {{sixMonthDiscount*100}}%)
                                                    <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Profile Link</label>
                                        <div class="col-sm-8">
                                            <mat-form-field class="example-full-width has-success">
                                                <input matInput type="text" [(ngModel)]="profileLink" name="profileLink" disabled>
                                                <span class="form-control-feedback">
                                            <i class="material-icons">done</i>
                                        </span>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col-sm-6">
                                        <div class="card text-white bg-success">
                                            <div class="card-body ">
                                                <div class="row">
                                                    <div class="col-sm-5 col-form-label ">
                                                        <h6 >Tổng Cộng:</h6>
                                                        <h6 >Discount:</h6>
                                                        <h5>Thành Tiền:</h5>
                                                    </div>
                                                    <div class="col-sm-5 col-form-label ">
                                                        <h6 >{{totalPrice}}</h6>
                                                        <h6 >{{totalDiscountNum.toFixed(2)*100}}%</h6>
                                                        <h5 >{{finalPrice}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <label class="col-sm-2 col-form-label"> </label>
                                <div class="card-footer text-right">
                                    <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="buyMoreDurationButton()">Gia Hạn</button>
                                </div>
                                <div class="card-footer text-right">
                                    <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="cancelButton()">Hủy Bỏ</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="buyMoreCommentMode" class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Mua Thêm Lượt Bình Luận</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <form method="get" action="/" class="form-horizontal">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <label class="col-sm-8 col-form-label">Mua Thêm:</label>
                                                <div class="col-sm-3">
                                                    <mat-form-field class="example-full-width has-success">
                                                        <input matInput type="number" (change)="buyMoreCommentChange()" [(ngModel)]="commentNum" name="commentNum">
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-6 mat-body-strong">
                                            <label class="text-rose mat-body-strong">*Giảm Giá:</label>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="text-danger">00-09: Giảm {{tenDiscount*100}}% Thêm 3 Tệp Bình Luận  </div>
                                                    <div class="text-warning">10-19: Giảm {{twentyDiscount*100}}% Thêm 9 Tệp Bình Luận </div>
                                                    <div class="text-success">20-29: Giảm {{thirtyDiscount*100}}% Thêm 12 Tệp Bình Luận</div>
                                                </div>
                                            </div>
                                            <div class="row">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Profile Link</label>
                                        <div class="col-sm-8">
                                            <mat-form-field class="example-full-width has-success">
                                                <input matInput type="text" [(ngModel)]="profileLink" name="profileLink" disabled>
                                                <span class="form-control-feedback">
                                            <i class="material-icons">done</i>
                                        </span>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col-sm-6">
                                        <div class="card text-white bg-success">
                                            <div class="card-body ">
                                                <div class="row">
                                                    <div class="col-sm-5 col-form-label ">
                                                        <h6 >Tổng Cộng:</h6>
                                                        <h6 >Discount:</h6>
                                                        <h5>Thành Tiền:</h5>
                                                    </div>
                                                    <div class="col-sm-5 col-form-label ">
                                                        <h6 >{{totalPrice}}</h6>
                                                        <h6 >{{totalDiscountNum.toFixed(2)*100}}%</h6>
                                                        <h5 >{{finalPrice}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <label class="col-sm-2 col-form-label"> </label>
                                <div class="card-footer text-right">
                                    <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="buyMoreCommentButton()">Mua Thêm</button>
                                </div>
                                <div class="card-footer text-right">
                                    <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="cancelButton()">Hủy Bỏ</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="buyMorePostMode" class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Mua Thêm Bài Viết Hằng Ngày</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <form method="get" action="/" class="form-horizontal">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <label class="col-sm-8 col-form-label text-rose mat-body-strong">Mua Thêm:</label>
                                                <div class="col-sm-3 mat-body-strong">
                                                    <mat-form-field class="example-full-width has-success">
                                                        <input matInput type="number" [(ngModel)]="maxPerDay" name="maxPerDay" (change)="buyMorePostChange()">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Profile Link</label>
                                        <div class="col-sm-8">
                                            <mat-form-field class="example-full-width has-success">
                                                <input matInput type="text" [(ngModel)]="profileLink" name="profileLink" disabled>
                                                <span class="form-control-feedback">
                                            <i class="material-icons">done</i>
                                        </span>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="col-sm-6">
                                        <div class="card text-white bg-success">
                                            <div class="card-body ">
                                                <div class="row">
                                                    <div class="col-sm-5 col-form-label ">
                                                        <h6 >Tổng Cộng:</h6>
                                                        <h6 >Discount:</h6>
                                                        <h5>Thành Tiền:</h5>
                                                    </div>
                                                    <div class="col-sm-5 col-form-label ">
                                                        <h6 >{{totalPrice}}</h6>
                                                        <h6 >{{totalDiscountNum.toFixed(2)*100}}%</h6>
                                                        <h5 >{{finalPrice}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <label class="col-sm-2 col-form-label"> </label>
                                <div class="card-footer text-right">
                                    <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="buyMorePostButton()">Mua Thêm</button>
                                </div>
                                <div class="card-footer text-right">
                                    <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="cancelButton()">Hủy Bỏ</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="commentBundleEditMode || addNewIntableClicked" class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 *ngIf="addNewIntableClicked" class="card-title">Thêm Tệp Bình Luận Mới</h4>
                            <h4 *ngIf="commentBundleEditMode" class="card-title">Cập Nhật Tệp Bình Luận</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <form method="get" action="/" class="form-horizontal">

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Tên Tệp:</label>
                                <div class="col-sm-10">
                                    <mat-form-field class="example-full-width has-success">
                                        <input matInput type="text" placeholder="Điền Tên Để Nhận Diện Tệp" [(ngModel)]="bundleName" name="bundleName">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">HashTag:</label>
                                <div class="col-sm-10">
                                    <mat-form-field class="example-full-width has-success">
                                        <input matInput type="text" placeholder="Viết 1 HashTag" [(ngModel)]="hashTag" name="hashTag">
                                        <span class="form-control-feedback">
                                            <i class="material-icons">done</i>
                                        </span>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-8 col-sm-offset-1 checkbox-radios">
                                    <span class="text-warning">*Bot Sẽ Chỉ Bình Luận Với Các Posts Có Chứa HashTag Tương Ứng, Để Trống Nếu Bạn Muốn Bình Luận Vào Tất Cả Các Posts</span>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label text-success">Buff Bình Luận Trong Vòng:</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <mat-form-field class="example-full-width has-success">
                                                <input matInput type="text" [(ngModel)]="delay" name="delay">
                                            </mat-form-field>
                                        </div>

                                        <div>
                                            <label class="text-success col-form-label text-right">(Giờ) || Ưu Tiên Bình Luận Trong Khoảng(Giờ):</label>
                                        </div>

                                        <div class="col-sm-3">
                                            <mat-form-field>
                                                <mat-select multiple placeholder="Giờ Ưu Tiên" [(ngModel)]="rushHour" name="rushHour">
                                                    <mat-option *ngFor="let hour of rushHourList" [value]="hour">
                                                        {{ hour }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-sm-offset-1">
                                            <span class="text-danger">*Bình Luận sẽ được buff đều trong thời gian mong muốn tính từ lúc bài viết được public(Nên Để 48-72 giờ đối với các bài viết bán hàng để ngày nào cũng đẩy được bài lên newsfeed)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-8 col-sm-offset-1">
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Tỷ Lệ Bình Luận Bằng Sickter:</label>
                                <div class="col-md-3">
                                    <nouislider [connect]="true" [min]="0" [max]="100" [step]="1" [(ngModel)]="stickerCommentRate" [name]="stickerCommentRate" [tooltips]="true" class="slider"></nouislider>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-8 col-sm-offset-1 checkbox-radios">
                                    <span class="text-warning">*Hiện Tại Chỉ Bình Luận Ngẫu Nhiên, Tính Năng Bình Luận Sticker Chính Xác Theo Cảm Xúc Đang Được Thử Nghiệm!</span>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Thứ Tự Bình Luận:</label>
                                <div class="col-sm-4 col-sm-offset-1 checkbox-radios2" (change)="onSelectChange()">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="commentOrder" [(ngModel)]="commentOrder" value="ordered" checked>Lần Lượt Từ Trên Xuống Dưới
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5 checkbox-radios2">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="commentOrder" [(ngModel)]="commentOrder" value="random">Ngẫu Nhiên
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Bình Luận (Tối Đa 100):</label>
                                <div class="col-sm-10">
                                    <textarea class="col-sm-12" rows="10" autocomplete="off" placeholder="Dán Bình Luận Vô Đây - Mỗi Bình Luận 1 Dòng" [(ngModel)]="commentContent" name="commentContent"></textarea>
                                    <div class="row">
                                        <div class="card-footer text-right">
                                            <button *ngIf="addNewIntableClicked" mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="addNewCommentBundle()">Thêm Mới</button>
                                            <button *ngIf="commentBundleEditMode" mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="updateCommentBundle()">Cập Nhật</button>
                                        </div>
                                        <div class="card-footer text-right">
                                            <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="cancelButton()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!profileTableEdit && addNewProfileLinkMode" class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Đăng Ký Mới</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <form method="get" action="/" class="form-horizontal">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <label class="col-sm-4 col-form-label">Thời Hạn</label>
                                        <div class="col col-sm-offset-1 checkbox-radios" (change)="onSelectChange()">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="duration" [(ngModel)]="duration" value="oneMonth" checked> 1 Tháng (Save {{oneMonthDiscount*100}}%)
                                                    <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="duration" [(ngModel)]="duration" value="threeMonth"> 3 Tháng (Save {{threeMonthDiscount*100}}%)
                                                    <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col checkbox-radios">
                                            <div class="form-check disabled">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="duration2" [(ngModel)]="duration" value="sixMonth" disabled> 6 Tháng (Save {{sixMonthDiscount*100}}%)
                                                    <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <label class="col-sm-8 col-form-label">Số Lượng Bình Luận:</label>
                                                <div class="col-sm-3">
                                                    <mat-form-field class="example-full-width has-success">
                                                        <input matInput type="number" (change)="onSelectChange()" [(ngModel)]="commentNum" name="commentNum">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-8 col-form-label text-rose mat-body-strong">Số Bài Tối Đa 1 Ngày:</label>
                                                <div class="col-sm-3 mat-body-strong">
                                                    <mat-form-field class="example-full-width has-success">
                                                        <input matInput type="number" [(ngModel)]="maxPerDay" name="maxPerDay" (change)="onSelectChange()">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 mat-body-strong">
                                            <label class="text-rose mat-body-strong">*Giảm Giá:</label>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="text-danger">00-09: Giảm {{tenDiscount*100}}% Thêm 3 Tệp Bình Luận  </div>
                                                    <div class="text-warning">10-19: Giảm {{twentyDiscount*100}}% Thêm 9 Tệp Bình Luận </div>
                                                    <div class="text-success">20-29: Giảm {{thirtyDiscount*100}}% Thêm 12 Tệp Bình Luận</div>
                                                </div>
                                            </div>
                                            <div class="row">

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col">
                                    <div class="col-sm-6">
                                        <div class="card text-white bg-success">
                                            <div class="card-body ">
                                                <div class="row">
                                                    <div class="col-sm-5 col-form-label ">
                                                        <h6 >Tổng Cộng:</h6>
                                                        <h6 >Discount:</h6>
                                                        <h5>Thành Tiền:</h5>
                                                    </div>
                                                    <div class="col-sm-5 col-form-label ">
                                                        <h6 >{{totalPrice}}</h6>
                                                        <h6 >{{totalDiscountNum.toFixed(2)*100}}%</h6>
                                                        <h5 >{{finalPrice}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Profile Link</label>
                                <div class="col-sm-10">
                                    <mat-form-field class="example-full-width has-success">
                                        <input matInput type="text" placeholder="Paste Profile Link Vô Đây" [(ngModel)]="profileLink" name="profileLink">
                                        <span class="form-control-feedback">
                                            <i class="material-icons">done</i>
                                        </span>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label text-success">Chọn Tệp Bình Luận:</label>
                                <div class="col-sm-8">
                                            <mat-form-field>
                                                <mat-select multiple placeholder="Tên Tệp" [(ngModel)]="bundleIdList" name="bundleIdList">
                                                    <mat-option *ngFor="let bundle of commentBundleTable" [value]="bundle._id">
                                                        {{ bundle.bundleName }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-1">
                                            <span class="text-danger">*Bot sẽ bình luận theo tệp đã chọn đối với profile tương ứng</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label"> </label>
                                <div class="card-footer text-right">
                                    <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="registerNewProfileLink()">Đăng Ký</button>
                                </div>
                                <div class="card-footer text-right">
                                    <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="cancelButton()">Hủy Bỏ</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <div *ngIf="profileTableEdit" class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Cập Nhật</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <form method="get" action="/" class="form-horizontal">

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Profile Link</label>
                                <div class="col-sm-10">
                                    <mat-form-field class="example-full-width has-success">
                                        <input matInput type="text" placeholder="Paste Profile Link Vô Đây" [(ngModel)]="profileLink" name="profileLink">
                                        <span class="form-control-feedback">
                                            <i class="material-icons">done</i>
                                        </span>
                                    </mat-form-field>

                                </div>
                            </div>


                            <div class="row">
                                <label class="col-sm-2 col-form-label">Số Lượt Bình Luận</label>
                                <div class="col-sm-1">
                                    <mat-form-field class="example-full-width has-success">
                                        <input matInput type="number" placeholder="Paste Profile Link Vô Đây" [(ngModel)]="commentNum" name="commentNum" (change)="onEditCommentNumChange()">
                                    </mat-form-field>
                                </div>
                                <label class="col-form-label">*Bạn có thể điều chỉnh không vượt quá {{maxCommentNum}}</label>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label text-success">Chọn Tệp Bình Luận:</label>
                                <div class="col-sm-8">
                                    <mat-form-field>
                                        <mat-select multiple placeholder="Tên Tệp" [(ngModel)]="bundleIdList" name="bundleIdList">
                                            <mat-option *ngFor="let bundle of commentBundleTable" [value]="bundle._id">
                                                {{ bundle.bundleName }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-1">
                                            <span class="text-danger">*Bot sẽ bình luận theo tệp đã chọn đối với profile tương ứng</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="card-footer text-right">
                                            <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="profileLinkdoneButton()">Update</button>
                                        </div>
                                        <div class="card-footer text-right">
                                            <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="cancelButton()">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">slow_motion_video</i>
                        </div>
                        <h4 class="card-title">Profile Đang Chạy</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <button *ngIf="!addNewProfileLinkMode" mat-raised-button type="submit" class="btn btn-success" value="Submit" (click)="addNewProfileInTableButton()">Thêm Profile Mới</button>
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            <div class="table-responsive">
                                <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th >Facebook ProfileId</th>
                                        <th>Số Tệp Bình Luận Đang Chạy</th>
                                        <th>Số Lượng Bình Luận</th>
                                        <th>Số Bài Viết Tối Đa</th>
                                        <th>Số Ngày Còn Lại</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let tableData of registeredTable">
                                        <td class="text-truncate">
                                            <span matTooltip=" CÓ THỂ THAY ĐỔI COOKIE ĐỂ ĐỔI NICK ">{{tableData.profileId}}</span>
                                        </td>
                                        <td class="text-truncate ">
                                            {{tableData.commentBundles.length}}
                                        </td>
                                        <td class="text-truncate ">
                                            {{tableData.commentNum}}
                                        </td>
                                        <td class="text-truncate ">
                                            {{tableData.maxPerDay}}
                                        </td>

                                        <td class="text-truncate">{{tableData.expiredTime}}</td>
                                        <td class="text-right">
                                            <button mat-button type="button"  matTooltip="Mua Thêm Bình Luận" [matTooltipPosition]="'left'" class="btn btn-link btn-success btn-just-icon edit" (click)="buyMoreCommentTable(tableData)">
                                                <i class="material-icons">add_comment</i>
                                            </button>
                                            <button mat-button type="button"  matTooltip="Mua Thêm Bài Viết" [matTooltipPosition]="'left'" class="btn btn-link btn-success btn-just-icon edit" (click)="buyMorePostTable(tableData)">
                                                <i class="material-icons">note_add</i>
                                            </button>
                                            <button  mat-button type="button"  matTooltip="Gia Hạn" [matTooltipPosition]="'left'" class="btn btn-link btn-success btn-just-icon edit" (click)="buyMoreDurationTable(tableData)">
                                                <i class="material-icons">add_alarm</i>
                                            </button>
                                            <button mat-button type="button"  matTooltip="Edit" [matTooltipPosition]="'left'" class="btn btn-link btn-warning btn-just-icon edit" (click)="profileLinkTableEditButton(tableData)">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button *ngIf="tableData.runningState" mat-button type="button"  matTooltip="Pause" [matTooltipPosition]="'left'" class="btn btn-link btn-warning btn-just-icon edit" (click)="profileLinkpauseButton(tableData)">
                                                <i class="material-icons">pause</i>
                                            </button>
                                            <button *ngIf="!tableData.runningState" mat-button type="button"  matTooltip="Run" [matTooltipPosition]="'left'" class="btn btn-link btn-success btn-just-icon edit" (click)="profileLinkplayButton(tableData)">
                                                <i class="material-icons">play_arrow</i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-text">
                            <h4 class="card-title">Tệp Bình Luận Hiện Có</h4>
                        </div>
                            <div *ngIf="!addNewIntableClicked" class="card-header">
                                <button mat-raised-button type="submit" class="btn btn-success" value="Submit" (click)="addNewInTableClick()">Thêm Mới</button>
                            </div>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            <div class="table-responsive">
                                <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Tên Tệp</th>
                                        <th>HashTag</th>
                                        <th>Tỷ Lệ Sticker</th>
                                        <th>Thứ Tự Bình Luận</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let tableData of commentBundleTable">
                                        <td class="text-truncate">
                                            <span matTooltip=" CÓ THỂ THAY ĐỔI COOKIE ĐỂ ĐỔI NICK ">{{tableData.bundleName}}</span>
                                        </td>
                                        <td class="text-truncate ">
                                        {{tableData.hashTag}}
                                        </td>

                                        <td class="text-truncate">{{tableData.stickerCommentRate}}</td>
                                        <td class="text-truncate">{{tableData.commentOrder}}</td>
                                        <td class="text-right">
                                            <button mat-button type="button"  matTooltip="Edit" [matTooltipPosition]="'left'" class="btn btn-link btn-warning btn-just-icon edit" (click)="commentBundleTableEditButton(tableData)" >
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-button type="button"  matTooltip="Xóa Tệp" [matTooltipPosition]="'left'" class="btn btn-link btn-danger btn-just-icon edit" (click)="deleteCommentBundleButton(tableData)">
                                                <i class="material-icons">delete_forever</i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>

    </div>
</div>
