<footer class="footer ">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="#">
            Bao Thai FNC
          </a>
        </li>
        <li>
          <a href="https://btfnc.com">
            About Us
          </a>
        </li>
        <li>
          <a href="#">
            FANPAGE
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}}, made with <i class="material-icons text-danger">favorite</i> by
      <a href="#" target="_blank">Bao Thai FNC.</a>
    </div>
  </div>
</footer>
