<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">account_balance</i>
              </div>
              <p class="card-category">Total</p>
              <h3 class="card-title">{{totalPaymentString}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger">warning</i>
                Đã Thanh Toán
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">account_balance_wallet</i>
              </div>
              <p class="card-category">Last 30 Days</p>
              <h3 class="card-title">{{last30DaysPaymentString}}</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger" >change_history</i> 30 Ngày Gần Nhất
              </div>
            </div>
          </div>
        </div>
        <div>

          <div *ngIf="!changePassword" class="card card-stats">
            <div class="card-header card-header-rose card-header-icon">

            </div>
            <div class="card-footer">
              <div class="stats">
                <button *ngIf="!changePassword" mat-raised-button type="submit" class="btn btn-rose pull-right" (click)="changePasswordClick()">Đổi Mật Khẩu</button>
              </div>
            </div>
          </div>

          <div *ngIf="changePassword" class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width has-success">
                    <input matInput type="password" placeholder="Mật Khẩu Cũ" [(ngModel)]="oldPassword" name="oldPassword">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width has-success">
                    <input matInput type="password" placeholder="Mật Khẩu Mới" [(ngModel)]="newPassword" name="newPassword">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width has-success">
                    <input matInput type="password" placeholder="Nhập Lại Mật Khẩu Mới" [(ngModel)]="reNewPassword" name="reNewPassword">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="stats">
                <button mat-raised-button type="submit" class="btn btn-rose pull-right" (click)="confirmChangePassword()">Xác Nhận</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">history</i>
              </div>
              <h4 class="card-title">Lịch Sử Thanh Toán</h4>
            </div>
            <div class="card-body">
              <div class="toolbar">
                <!--        Here you can write extra buttons/actions for the toolbar              -->
              </div>
              <div class="material-datatables">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                  <thead>
                  <tr>
                    <th>Thời Gian</th>
                    <th>Tài Khoản</th>
                    <th>Nội Dung</th>
                    <th>Số Tiền</th>
                  </tr>
                  </thead>
                  <tfoot>
                  <tr>
                    <th>Thời Gian</th>
                    <th>Tài Khoản</th>
                    <th>Nội Dung</th>
                    <th>Số Tiền</th>
                  </tr>
                  </tfoot>
                  <tbody>
                  <tr *ngFor="let row of dataTable.dataRows">
                    <td>{{row[0]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td class="text-right">{{row[4]}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- end content-->
          </div>
          <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
      </div>
    </div>
</div>
