
<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
        <form class="form" method="" action="">
          <div class="card card-login card-hidden">
            <div class="card-header card-header-rose text-center">
              <h4 class="card-title">Log in</h4>
            </div>
            <div class="card-body ">
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">account_circle</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Account..." [(ngModel)]="username" name="username">
                </div>
              </span>
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password..." [(ngModel)]="password" name="password" (keyup.enter)="onLetsGoClick()">
                </div>
              </span>
            </div>
            <div class="card-footer justify-content-center">
              <a class="btn btn-rose btn-link btn-lg" (click)="onLetsGoClick()">Lets Go</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <footer class="footer ">
      <div class="container">
        <div class="copyright pull-right">
          &copy;
            {{test | date: 'yyyy'}}, made with <i class="material-icons text-danger">favorite</i> by
          <a href="https://www.facebook.com/gatoasang94" target="_blank">Bao Thai FNC.</a>
        </div>
      </div>
    </footer>
  </div>
</div>
