<div class="main-content">
  <div class="container-fluid">
    <div *ngIf="addNewMode" class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-text">
            <div class="card-text">
              <h4 class="card-title">Thêm Profile Mới</h4>
            </div>
          </div>
          <div class="card-body ">
            <form method="get" action="/" class="form-horizontal">
              <div class="row">
                <label class="col-sm-2 col-form-label">Thời Hạn</label>
                <div class="col-sm-4 col-sm-offset-1 checkbox-radios">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="exampleRadios" [(ngModel)]="duration" value="oneMonth" checked> 1 Tháng {{oneMonthPrice}} (Giảm {{autoTymPriceOneMonthDiscount*100}}%)
                      <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="exampleRadios" [(ngModel)]="duration" value="threeMonth"> 3 Tháng {{threeMonthPrice}} (Giảm {{autoTymPriceThreeMonthDiscount*100}}%)
                      <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-5 checkbox-radios">
                  <div class="form-check disabled">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="exampleRadios2" [(ngModel)]="duration" value="sixMonth" disabled> 6 Tháng {{sixMonthPrice}} (Giảm {{autoTymPriceSixMonthDiscount*100}}%)
                      <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label">Cookie</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width has-success">
                    <input matInput type="text" placeholder="Paste Cookie Vô Đây" [(ngModel)]="cookie" name="cookie">
                    <span class="form-control-feedback">
                      <i class="material-icons">done</i>
                    </span>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label">Tỉ Lệ Tương Tác</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-md-1">
                      <img src="/assets/img/likeskip.png" width="30" height="30"/>
                      <mat-form-field class="example-full-width">
                        <input matInput class="text-danger" type="text" placeholder="SKIP" [(ngModel)]="skipRate" name="skipRate">
                      </mat-form-field>
                    </div>
                    <div class="col-md-1">
                      <img src="/assets/img/likelike.png" width="30" height="30"/>
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Like" [(ngModel)]="likeRate" name="likeRate">
                      </mat-form-field>
                    </div>
                    <div class="col-md-1">
                      <img src="/assets/img/likelove.png" width="30" height="30"/>
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Love" [(ngModel)]="loveRate" name="loveRate">
                      </mat-form-field>
                    </div>
                    <div class="col-md-1">
                      <img src="/assets/img/likehaha.png" width="30" height="30"/>
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Haha" [(ngModel)]="hahaRate" name="hahaRate">
                      </mat-form-field>
                    </div>
                    <div class="col-md-1">
                      <img src="/assets/img/likewow.png" width="30" height="30"/>
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Wow" [(ngModel)]="wowRate" name="wowRate">
                      </mat-form-field>
                    </div>
                    <div class="col-md-1">
                      <img src="/assets/img/likesad.png" width="30" height="30"/>
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Sad" [(ngModel)]="sadRate" name="sadRate">
                      </mat-form-field>
                    </div>
                    <div class="col-md-1">
                      <img src="/assets/img/likeangry.png" width="30" height="30"/>
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Angry" [(ngModel)]="angryRate" name="angryRate">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label">Bạn Có Muốn Tương Tác Với Bài Từ Fanpage Xuất Hiện Trên NewsFeed?</label>
                <div class="col-sm-4 col-sm-offset-1 checkbox-radios">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="likePagePost" [(ngModel)]="likePagePost" value="1"> Không Tương Tác!
                      <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="likePagePost" [(ngModel)]="likePagePost" value="0"> Có Tương Tác!
                      <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                  <div class="row">
                    <div class="card-footer text-right">
                      <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="onAddNewClick()">Thêm Mới</button>
                    </div>
                    <div class="card-footer text-right">
                      <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="cancelButton()">Hủy Bỏ</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="renewMode" class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-text">
            <div class="card-text">
              <h4 class="card-title">Gia Hạn</h4>
            </div>
          </div>
          <div class="card-body ">
            <form method="get" action="/" class="form-horizontal">
              <div class="row">
                <label class="col-sm-2 col-form-label">Thời Hạn</label>
                <div class="col-sm-4 col-sm-offset-1 checkbox-radios">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="exampleRadios" [(ngModel)]="duration" value="oneMonth" checked> 1 Tháng {{oneMonthPrice}} (Giảm {{autoTymPriceOneMonthDiscount*100}}%)
                      <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="exampleRadios" [(ngModel)]="duration" value="threeMonth"> 3 Tháng {{threeMonthPrice}} (Giảm {{autoTymPriceThreeMonthDiscount*100}}%)
                      <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-5 checkbox-radios">
                  <div class="form-check disabled">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="exampleRadios2" [(ngModel)]="duration" value="sixMonth" disabled> 6 Tháng {{sixMonthPrice}} (Giảm {{autoTymPriceSixMonthDiscount*100}}%)
                      <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label">Facebook UID:</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width has-success">
                    <input matInput type="text" [(ngModel)]="facebookUid" name="facebookUid" disabled>
                    <span class="form-control-feedback">
                      <i class="material-icons">done</i>
                    </span>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label"> </label>
                  <div class="row">
                    <div class="card-footer text-right">
                      <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="renewButton()">Gia Hạn</button>
                    </div>
                    <div class="card-footer text-right">
                      <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="cancelButton()">Hủy Bỏ</button>
                    </div>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="editMode" class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-text">
            <div class="card-text">
              <h4 class="card-title update-service">Cập Nhật Dịch Vụ</h4>
            </div>
          </div>
          <div class="card-body ">
            <form method="get" action="/" class="form-horizontal">
              <div class="row">
                <label class="col-sm-2 col-form-label">Cookie</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width has-success">
                    <input matInput type="text" placeholder="Paste Cookie Vô Đây" [(ngModel)]="cookie" name="cookie">
                    <span class="form-control-feedback">
                      <i class="material-icons">done</i>
                    </span>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label">Tỉ Lệ Tương Tác</label>
                <div class="col-sm-10">
                  <div class="row">
                    <div class="col-md-1">
                      <img src="/assets/img/likeskip.png" width="30" height="30"/>
                      <mat-form-field class="example-full-width">
                        <input matInput class="text-danger" type="text" placeholder="SKIP" [(ngModel)]="skipRate" name="skipRate">
                      </mat-form-field>
                    </div>
                    <div class="col-md-1">
                      <img src="/assets/img/likelike.png" width="30" height="30"/>
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Like" [(ngModel)]="likeRate" name="likeRate">
                      </mat-form-field>
                    </div>
                    <div class="col-md-1">
                      <img src="/assets/img/likelove.png" width="30" height="30"/>
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Love" [(ngModel)]="loveRate" name="loveRate">
                      </mat-form-field>
                    </div>
                    <div class="col-md-1">
                      <img src="/assets/img/likehaha.png" width="30" height="30"/>
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Haha" [(ngModel)]="hahaRate" name="hahaRate">
                      </mat-form-field>
                    </div>
                    <div class="col-md-1">
                      <img src="/assets/img/likewow.png" width="30" height="30"/>
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Wow" [(ngModel)]="wowRate" name="wowRate">
                      </mat-form-field>
                    </div>
                    <div class="col-md-1">
                      <img src="/assets/img/likesad.png" width="30" height="30"/>
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Sad" [(ngModel)]="sadRate" name="sadRate">
                      </mat-form-field>
                    </div>
                    <div class="col-md-1">
                      <img src="/assets/img/likeangry.png" width="30" height="30"/>
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" placeholder="Angry" [(ngModel)]="angryRate" name="angryRate">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label">Bạn Có Muốn Tương Tác Với Bài Từ Fanpage Xuất Hiện Trên NewsFeed?</label>
                <div class="col-sm-4 col-sm-offset-1 checkbox-radios">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="likePagePost" [(ngModel)]="likePagePost" value="1"> Không Tương Tác!
                      <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="likePagePost" [(ngModel)]="likePagePost" value="0"> Có Tương Tác!
                      <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                  <div class="row">
                    <div class="card-footer text-right">
                      <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="doneButton()">Lưu Lại</button>
                    </div>
                    <div class="card-footer text-right">
                      <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="cancelButton()">Hủy Bỏ</button>
                    </div>
                  </div>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">slow_motion_video</i>
            </div>
            <h4 class="card-title">Tài Khoản Đang Chạy</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <button mat-raised-button type="submit" class="btn btn-rose" value="Submit" (click)="openAddnewCard()">Thêm Profile Mới</button>
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
              <div class="table-responsive">
                <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                  <thead>
                  <tr>
                    <th>Facebook UID</th>
                    <th>Tình Trạng Cookie</th>
                    <th>Tỷ Lệ Tương Tác</th>
                    <th>Like Bài Từ Page?</th>
                    <th>Số Ngày Còn Lại</th>
                    <th class="text-right">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let tableData of tableDatas">
                    <td class="text-truncate">
                      <span>{{tableData.fbUid}}</span>
                    </td>
                    <td class="text-truncate ">
                    <span class="text-warning" *ngIf="tableData.cookieState === 'checking'">
                      <button  class="btn btn-link btn-warning btn-just-icon">
                      <i class="material-icons">hourglass_full</i>
                      </button>
                      CHECKING
                    </span>
                      <span class="text-success" *ngIf="tableData.cookieState === 'live'">
                      <button  class="btn btn-link btn-success btn-just-icon">
                      <i class="material-icons">done_outline</i>
                      </button>
                      LIVE
                    </span>
                      <span class="text-danger" *ngIf="tableData.cookieState === 'die'">
                      <button  class="btn btn-link btn-danger btn-just-icon">
                      <i class="material-icons">warning</i>
                      </button>
                      DIE
                    </span>
                    </td>
                    <td class="text-truncate ">
                      <span matTooltip=" SKIP - LIKE - LOVE - HAHA - WOW - SAD - ANGRY ">{{tableData.reactionRate}}</span>
                    </td>
                    <td class="text-truncate ">
                    <span class="text-danger" *ngIf="tableData.likePagePost === '1'">
                      <button matTooltip=" KHÔNG LIKE BÀI TỪ PAGE " class="btn btn-link btn-danger btn-just-icon">
                      <i class="material-icons">thumb_down_alt</i>
                      </button>
                    </span>
                      <span class="text-success" *ngIf="tableData.likePagePost === '0'">
                      <button matTooltip=" KHÔNG LIKE BÀI TỪ PAGE " class="btn btn-link btn-success btn-just-icon">
                      <i class="material-icons">thumb_up_alt</i>
                      </button>
                    </span>
                    </td>
                    <td class="text-truncate">{{tableData.expiredTime}}</td>
                    <td class="text-right">
                      <button mat-button type="button"  matTooltip="Gia Hạn" [matTooltipPosition]="'left'" class="btn btn-link btn-success btn-just-icon edit" (click)="renewTableButton(tableData)">
                        <i class="material-icons">alarm_add</i>
                      </button>
                      <button mat-button type="button"  matTooltip="Edit" [matTooltipPosition]="'left'" class="btn btn-link btn-warning btn-just-icon edit" (click)="editButton(tableData)">
                        <i class="material-icons">edit</i>
                      </button>
                      <button *ngIf="tableData.runningState" mat-button type="button"  matTooltip="Pause" [matTooltipPosition]="'left'" class="btn btn-link btn-warning btn-just-icon edit" (click)="pauseButton(tableData)">
                        <i class="material-icons">pause</i>
                      </button>
                      <button *ngIf="!tableData.runningState" mat-button type="button"  matTooltip="Run" [matTooltipPosition]="'left'" class="btn btn-link btn-success btn-just-icon edit" (click)="playButton(tableData)">
                        <i class="material-icons">play_arrow</i>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
  </div>
</div>
