<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form (submit)="onRegisterSubmit()">
            <div class="card-header card-header-rose card-header-icon">
              <h2 class="card-title">Tạo Tài Khoản Mới</h2>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label>Username</label>
                <input type="text" [(ngModel)]="username" name="username" class="form-control">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" [(ngModel)]="password" name="password" class="form-control">
              </div>
            </div>
            <div class="card-footer text-right">
              <button mat-raised-button type="submit" class="btn btn-rose" value="Submit">Create</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">account_box</i>
            </div>
            <p class="card-category">Số Tài Khoản Đã Tạo</p>
            <h3 class="card-title">{{logsLength}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">add_shopping_cart</i> Số Tài Khoản Khách Hàng Đã Tạo
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">history</i>
            </div>
            <h4 class="card-title">Lịch Sử Tạo Tài Khoản</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                <thead>
                <tr>
                  <th>Thời Gian</th>
                  <th>Tài Khoản Đã Tạo</th>
                  <th>Người Thực Hiện</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th>Thời Gian</th>
                  <th>Tài Khoản Đã Tạo</th>
                  <th>Người Thực Hiện</th>
                </tr>
                </tfoot>
                <tbody>
                <tr *ngFor="let row of dataTable.dataRows">
                  <td>{{row[0]}}</td>
                  <td>{{row[1]}}</td>
                  <td>{{row[2]}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
  </div>
</div>
