<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form (submit)="onDepositeSubmit()">
            <div class="card-header card-header-rose card-header-icon">
              <h2 class="card-title">Nạp Tiền Vào Tài Khoản</h2>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label>Username</label>
                <input type="text"  [(ngModel)]="username" (change)="onAccountChange()" name="username" class="form-control">
              </div>
              <div class="form-group">
                <label>Số Tiền Nạp</label>
                <input type="number" min="1" step="1" [(ngModel)]="moneyAmount" name="moneyAmount" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
              </div>
              <div class="category form-category">* Số Tiền Nhỏ Nhất 01 VNĐ</div>
            </div>
            <div class="card-footer text-right">
              <button mat-raised-button type="submit" class="btn btn-rose" value="Submit">Thanh Toán</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <h3 class="card-title">Thông Tin Tài Khoản</h3>
            <h4 class="card-title" style="text-align:left">Tài Khoản</h4>
            <h5 class="card-title" *ngIf="!username || username ==''">n/a</h5>
            <h5 class="card-title" *ngIf="username">{{accountInfoUsername}}</h5>
            <h4 class="card-title" style="text-align:left">Tên</h4>
            <h5 class="card-title" *ngIf="!name">n/a</h5>
            <h5 class="card-title" *ngIf="name">{{name}}</h5>
            <h4 class="card-title" style="text-align:left">Email</h4>
            <h5 class="card-title" *ngIf="!email">n/a</h5>
            <h5 class="card-title" *ngIf="email">{{email}}</h5>
            <h4 class="card-title" style="text-align:left">Số Điện Thoại</h4>
            <h5 class="card-title" *ngIf="!phone">n/a</h5>
            <h5 class="card-title" *ngIf="phone">{{phone}}</h5>
          </div>
          <div class="card-footer">
            <div class="stats">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">history</i>
            </div>
            <h4 class="card-title">Lịch Sử Thanh Toán</h4>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
              <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                <thead>
                <tr>
                  <th>Thời Gian</th>
                  <th>Tài Khoản</th>
                  <th>Nội Dung</th>
                  <th>Số Tiền</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th>Thời Gian</th>
                  <th>Tài Khoản</th>
                  <th>Nội Dung</th>
                  <th>Số Tiền</th>
                </tr>
                </tfoot>
                <tbody>
                <tr *ngFor="let row of dataTable.dataRows">
                  <td>{{row[0]}}</td>
                  <td>{{row[1]}}</td>
                  <td>{{row[2]}}</td>
                  <td class="text-right">{{row[3]}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
  </div>
</div>
